{% extends '_base.html' %}

{% block content %}
    <h1>{{ COPY.content.header_title }}</h1>

    <p class="byline">By <span>{{ COPY.attribution.byline }}</span></p>
    <p class="dateblock">
        <span class="date">{{ COPY.attribution.pubdate }}</span>
        <span class="time"> {{ COPY.attribution.pubtime }}</span>
    </p>

    <h2>What do you want to know?</h2>

    <form id="search">
        <div class="form-group">
            <label for="query" class="sr-only"> Search:</label>
            <input class="form-control input-lg" placeholder="Search" type="text" id="query" />
        </div>
    </form>
{% endblock %}


{% block wide_content %}
<div id="results">
    <h2>Answers related to <em><span id="term"></span></em></h2>

    <ul>
    </ul>
</div>

<h2 id="all-answers">All answers</h2>


<div id="faqs">
{% for faq in faqs %}
    <div id="faq-{{ loop.index0 }}" class="faq">
        <h3 class="question"><a href="#">{{ faq.question|safe }}&nbsp;<span>+</span></a></h3>
        <div class="answer-wrapper fade hide">
            <div class="answer">{{ faq.answer|safe }}</div>
            {% if faq.tags.strip() %}
            <div class="tags">
                <h4>Related answers</h4>
                <ul class="list-unstyled">
                    {% for tag in faq.tags.split(',') %}
                    <li><a href="#search/{{ tag.strip().lower() }}">{{ tag.strip() }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.FAQS = {{ faqs_js|safe }};
</script>

{% endblock %}
