{% extends '_base.html' %}

{% block content %}
    
    <div class="header-wrapper">
        <div class="header-meta">
            <h1>{{ COPY.content.header_title }}</h1>
            <p>{{ COPY.content.chatter }}</p>
            <p class="byline">By <span>{{ COPY.attribution.byline }}</span></p>
            <p class="dateblock">
                <span class="date">{{ COPY.attribution.pubdate }}</span>
            </p>
        </div>
        <div id="bigbox">
            {# 300x250 ad #}
            <div class="adwrapper">
                <div id="ad-desktop" class="sponsor300">
                    <script type="text/javascript">
                    <!--
                    if (DFP.shouldRenderForDevice('desktop')) {
                        googletag.cmd.push(function() {
                            googletag.display('ad-desktop');
                        });
                    }
                    // -->
                    </script>
                </div>

                <p class="left">NPR thanks our sponsors</p>
                <p class="right"><a href="http://www.npr.org/about/place/corpsupport/">Become an NPR sponsor</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block before_content %}
<div class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="search-wrapper">
                    <div class="top-searches">
                        <h2>Find Answers To Common Questions</h2>

                    {% for tag in COPY.tags if tag.home_page_display == "yes" %}
                        {% if loop.index < 5 %}
                        <p><a href="#search/{{ tag.slug }}">{{ tag.display_name}}</a></p>
                        {% endif %}
                    {% endfor %}
                    </div>

                    <h3 class="divider"><strong>Or</strong></h3>

                    <form id="search">
                        <h2>Search</h2>
                        <div class="form-group">
                            <label for="query" class="sr-only"> Search:</label>
                            <input class="form-control input-lg" placeholder="Search" type="text" id="query" />
                        </div>
                        <p>e.g. <a href="#search/medicaid">medicaid</a>, <a href="#search/seniors">seniors</a>, <a href="#search/healthcare.gov">healthcare.gov</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock before_content %}


{% block wide_content %}
<div class="content-wrapper">

    <div id="results">
        <h2>Answers related to <em><span id="term"></span></em></h2>

        <ul>
        </ul>
    </div>

    <h2 id="all-answers">All answers</h2>


    <div id="faqs">
    {% for faq in faqs %}
        <div id="faq-{{ loop.index0 }}" class="faq">
            <h3 class="question"><a href="#">{{ faq.question|smartypants|safe }}&nbsp;<span></span></a></h3>
            <div class="answer-wrapper">
                <div class="answer">{{ faq.answer|smartypants|safe }}</div>
                {% if faq.tags.strip() %}
                <div class="tags">
                    <h4>Related</h4>
                    <ul class="tag-list list-unstyled">
                        {% for tag in faq.tags.split(',') %}
                        <li><a href="#search/{{ tag.strip().lower() }}">{{ tag_display_names[tag.strip()] }}</a></li>
                        {% endfor %}
                    </ul>

                    <h4>Share this answer</h4>
                    <p class="sharing"><a href="https://twitter.com/share?text={{ faq.question|safe|urlencode }}&url={{ S3_BASE_URL|urlencode }}%23answer%2F{{ loop.index0 }}" target="_blank"><i class="icon-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u={{ S3_BASE_URL|urlencode }}%23answer%2F{{ loop.index0 }}"><i class="icon-facebook"></i></a><a href="mailto:?subject=Answer from Affordable Care Act FAQ&body={{ faq.question|safe|urlencode }}%0D%0A{{ S3_BASE_URL|urlencode }}%23answer%2F{{ loop.index0 }}"><i class="icon-envelope-alt"></i></a></p>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.FAQS = {{ faqs_js|safe }};
</script>

{% endblock %}
