{% extends '_base.html' %}

{% block content %}
    <h1>{{ COPY.content.header_title }}</h1>

    <p class="byline">By <span>{{ COPY.attribution.byline }}</span></p>
    <p class="dateblock">
        <span class="date">{{ COPY.attribution.pubdate }}</span>
        <span class="time"> {{ COPY.attribution.pubtime }}</span>
    </p>

    <h2>What do you want to know?</h2>

    <form id="search">
        <label> Search:
            <input type="text" id="query" />
        </label>
    </form>
{% endblock %}


{% block wide_content %}
<div id="results">
    <h2>Answers related to <em><span id="term"></span></em></h2>

    <ul>
    </ul>
</div>

<h2 id="all-answers">All answers</h2>


<div id="faqs">
{% for faq in faqs %}
    <div id="faq-{{ loop.index0 }}" class="faq">
        <h3 class="question">{{ faq.question|safe }}</h3>
        <div class="answer">{{ faq.answer|safe }}</div>
        {% if faq.tags.strip() %}
        <ul class="tags">
            {% for tag in faq.tags.split(',') %}
            <li><a href="#search/{{ tag.strip().lower() }}">Show answers to all questions about <em>{{ tag.strip() }}</em></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.FAQS = {{ faqs_js|safe }};
</script>

{% endblock %}
