<head>
</head>
<body>
    <h1>Search index builder</h1>

    <textarea id="index" rows="40" cols="100">Building index...</textarea>

    <script type="text/javascript" src="js/lib/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/lib/json3.js"></script>
    <script type="text/javascript" src="js/lib/lunr.js"></script>
    <script type="text/javascript">
        FAQS = {{ faqs_js|safe }};

        faqs_index = lunr(function () {
            this.field('question', { boost: 10 })
            this.field('answer')
            this.ref('id')
        });

        for (var i = 0; i < FAQS.length; i++) 
        {
            var faq = FAQS[i];

            faqs_index.add({
                id: i,
                question: faq['question'],
                answer: faq['answer']
            });
        }

        $('#index').val(JSON.stringify(faqs_index.toJSON(), null, 4));
    </script>
</body>
